[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2
	branch = master
[submodule "audiotube/promise-cpp"]
	path = audiotube/promise-cpp
	url = https://github.com/xhawk18/promise-cpp
	branch = master
[submodule "audiotube/spdlog"]
	path = audiotube/spdlog
	url = https://github.com/gabime/spdlog
[submodule "audiotube/asio"]
	path = audiotube/asio
	url = https://github.com/chriskohlhoff/asio
