[submodule "audiotube/promise-cpp"]
	path = audiotube/promise-cpp
	url = https://github.com/xhawk18/promise-cpp
	branch = master
[submodule "audiotube/spdlog"]
	path = audiotube/spdlog
	url = https://github.com/gabime/spdlog
[submodule "audiotube/asio"]
	path = audiotube/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "audiotube/nlohmann_json"]
	path = audiotube/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "audiotube/pcre2"]
	path = audiotube/pcre2
	url = https://github.com/jpcre2/pcre2
[submodule "audiotube/jpcre2"]
	path = audiotube/jpcre2
	url = https://github.com/jpcre2/jpcre2
